.container{

    display: flex;
    flex-direction: column;
    margin: auto;
    background: #6c6cff;
    padding-bottom: 30px;

}

.header {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.subsection {

    margin-left: 10px;
    font-size: 36px;

}

.circles {

    margin-top: 155px;
    display: flex;
    flex-direction: row;
    gap: 400px;

}

.circle {

    color: white;
    width: 250px;
    height: 250px;
    margin-left: 200px;

}

.text {

    color: white;
    font-size: 48px;
    font-weight: 700;
    margin: auto;
    
}

.underline {

    width: 400px;
    height: 6px;
    background: white;
    border-radius: 9px;

}

.stats {

    margin-top: 155px;
    display: flex;
    flex-direction: row;
    gap: 115px;

}

.stat {

    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: white;
    color: #6c6cff;
    border-radius: 6px;

}

.work-value {

    color: lightgreen;
    font-weight: bold;
    margin-left: 10px;
    font-size: 48px;

}

.proc-value {

    color: red;
    font-weight: bold;
    margin-left: 10px;
    font-size: 48px;

}