.container{

    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #6c6cff;
    color: white;
    padding-bottom: 30px;

}

.header {

    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin-top: 50px;

}

.text {

    color: #6c6cff;
    font-size: 48px;
    font-weight: 700;

}

.underline {

    width: 175px;
    height: 6px;
    background: white;
    border-radius: 6px;

}

.ui-form {

    margin-top: 55px;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 25px;

}

.field {

    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    color: #6c6cff;
    background: #eaeaea;
    border-radius: 6px;

}

.form {

    margin-left: 20px;

}

.submit-container {

    display: flex;
    gap: 30px;
    margin: 60px auto;

}

.submit {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #6c6cff;
    background: white;
    border: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}